extends ../layout.pug

block content
    script(src="/javascripts/tweets/tweet.js")
    .container.px-5.py-4.mx-auto
        .flex.flex-col.mt-10(class='sm:flex-row')
            include ../includes/profile.pug
            div(id="tweet-list-container" class="lg:w-3/4 sm:w-3/4")
                include tweet-list.pug