extends ../layout.pug

block content
    section.text-gray-600.body-font.overflow-hidden.container.px-5.py-24.mx-auto.flex.flex-wrap.-m-12.p-12.flex.flex-col.items-start(class='md:w-1/2')
        span.inline-block.py-1.px-2.rounded.bg-indigo-50.text-indigo-500.text-xs.font-medium.tracking-widest Name author
        h2.text-2xl.title-font.font-medium.text-gray-900.mt-4.mb-4(class='sm:text-3xl') Roof party normcore before they sold out, cornhole vape
        p.leading-relaxed.mb-8
          | Live-edge letterpress cliche, salvia fanny pack humblebrag narwhal portland. VHS man braid palo santo hoodie brunch trust fund. Bitters hashtag waistcoat fashion axe chia unicorn. Plaid fixie chambray 90&apos;s, slow-carb etsy tumeric. Cray pug you probably haven&apos;t heard of them hexagon kickstarter craft beer pork chic.
        .flex.items-center.flex-wrap.pb-4.mb-4.border-b-2.border-gray-100.mt-auto.w-full
          a.text-indigo-500.inline-flex.items-center
            | Learn More
            svg.w-4.h-4.ml-2(viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(d='M5 12h14')
              path(d='M12 5l7 7-7 7')
          span.text-gray-400.mr-3.inline-flex.items-center.ml-auto.leading-none.text-sm.pr-3.py-1
            svg.w-4.h-4.mr-1(stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewbox='0 0 24 24')
              path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
              circle(cx='12' cy='12' r='3')
            | 1.2K
        a.inline-flex.items-center
          img.w-12.h-12.rounded-full.flex-shrink-0.object-cover.object-center(alt='blog' src='https://dummyimage.com/104x104')
          span.flex-grow.flex.flex-col.pl-4
            span.title-font.font-medium.text-gray-900 Holden Caulfield
            span.text-gray-400.text-xs.tracking-widest(class='mt-0.5') UI DEVELOPER 
            .p-12.flex.flex-col.items-start(class='md:w-1/2')