.border-gray-200.border-t.mt-4.pt-4.text-center(class='sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l sm:border-t-0 sm:mt-0 sm:text-left')
  if tweets
    each tweet in tweets
      p.leading-relaxed.text-lg.mb-4
        a(href="/tweets/edit/" + tweet._id)= tweet.content
      button(class="btn-danger text-white bg-red-400 rounded-md p-1" tweetId=tweet._id) Delete